<!-- message.component.html -->

<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="d-flex justify-content-center">
      <h1>SMS</h1>
    </div>

    <ion-card>
      <ion-card-content>
        <form (ngSubmit)="sendSMS()">
          <ion-item>
            <ion-label position="stacked">Seleziona il prefisso</ion-label>
            <ion-select [(ngModel)]="selectedPrefix" name="selectedPrefix" required>
              <ion-select-option value="+1">+1 (USA)</ion-select-option>
              <ion-select-option value="+39">+39 (Italia)</ion-select-option>
              <ion-select-option value="+44">+44 (Regno Unito)</ion-select-option>
              <!-- Aggiungi altri prefissi necessari -->
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Numero di telefono</ion-label>
            <ion-input type="tel" [(ngModel)]="phoneNumber" name="phoneNumber" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Messaggio</ion-label>
            <ion-textarea rows="4" [(ngModel)]="message" name="message" required></ion-textarea>
          </ion-item>

          <ion-button expand="block" type="submit">Invia SMS</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="smsSent">
      <ion-card-content>
        <p>SMS inviato con successo a {{ fullPhoneNumber }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
