<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <div class="chat-container">
    <div class="chat-messages">
      <div *ngFor="let msg of messages" class="chat-message" [ngClass]="{'sent-message': msg.user === user, 'received-message': msg.user !== user}" (mouseenter)="showDeleteButton(msg)" (mouseleave)="hideDeleteButton(msg)">
        <ng-container *ngIf="!msg.deleted; else deletedMessage">
          <strong>{{ msg.user }}:</strong>
          {{ msg.message }}
          <span class="timestamp">{{ msg.timestamp | date:'shortTime' }}</span>
          <button *ngIf="msg.showDeleteButton" (click)="deleteMessage(msg)">Delete</button>
        </ng-container>
        <ng-template #deletedMessage>
          <em>messaggio eliminato</em>
        </ng-template>
      </div>
    </div>
    <div class="chat-input">
      <input [(ngModel)]="newMessage" placeholder="Type your message here..." />
      <button (click)="sendMessage()" type="submit">Send</button>
    </div>
  </div>
</ion-content>
