<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>

  <div class="d-flex justify-content-center">
    <h1>PROFILO</h1>
  </div>


  <div class="profile-header">
    <div class="profile-image">
      <img *ngIf="profile.profileImage" [src]="profile.profileImage" alt="Profile Image">
    </div>
  </div>



  <ion-list lines="full">

    <ion-item>
      <ion-label position="stacked">Carica Immagine del Profilo</ion-label>
      <input type="file" (change)="onFileSelected($event)">
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Nome Completo</ion-label>
      <ion-input type="text" [(ngModel)]="profile.fullName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="profile.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Numero di Telefono</ion-label>
      <ion-input type="tel" [(ngModel)]="profile.phoneNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data di Nascita</ion-label>
      <ion-datetime displayFormat="D MMM YYYY" [(ngModel)]="profile.birthDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Indirizzo</ion-label>
      <ion-input type="text" [(ngModel)]="profile.address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descrizione</ion-label>
      <ion-textarea rows="4" [(ngModel)]="profile.description"></ion-textarea>
    </ion-item>


  </ion-list>

  <ion-button expand="block" (click)="saveProfile()">Salva Profilo</ion-button>
</ion-content>
