.photo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Spazio tra le colonne delle immagini */
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pagination {
  margin-top: 20px; /* Spazio sopra la paginazione */
  text-align: center;
}

.pagination button {
  margin: 0 5px; /* Spazio tra i pulsanti di paginazione */
  padding: 5px 10px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.foto {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

ion-card {
  padding: 10px;
}



.photo-container {
  position: relative;
  flex: 1 0 calc(20% - 10px); /* 5 colonne per riga */
  box-sizing: border-box;
  margin-bottom: 10px; /* Spazio sotto ogni riga di immagini */
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  padding: 0;
}


@media screen and (max-width: 600px) {
  .photo-container {
    flex: 1 0 calc(33.33% - 10px); /* Una colonna su 3 per schermi stretti */
  }

  .foto{
    width: 150px !important;
    height: 100px !important;
  }
}
