<ion-header>
  <app-header></app-header>
</ion-header>

<!-- Messaggio di nessuna foto se photos è vuoto -->
<ion-content *ngIf="photos.length === 0">
  <div class="ion-padding">
    <p>Nessuna foto disponibile.</p>
    <ion-button (click)="takePhoto()">Scatta foto</ion-button>
  </div>
</ion-content>

<!-- Utilizziamo *ngIf per condizionare la visibilità di ion-content -->
<ion-content *ngIf="photos.length > 0">
  <div class="ion-padding">
    <ion-button (click)="takePhoto()">Scatta foto</ion-button>

    <!-- Visualizza le foto solo se photos non è vuoto -->
    <ion-card class="photo-grid">
      <ion-card-content>
        <div class="row" *ngFor="let row of getCurrentPageRows()">
          <ion-card *ngFor="let photo of row" class="photo-container">
            <img class="foto" [src]="photo" alt="Photo" />
            <button class="delete-button" (click)="deletePhoto(photo)">
              <span class="delete-icon">&times;</span>
            </button>
          </ion-card>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Paginazione -->
    <div class="pagination">
      <ion-button expand="block" (click)="previousPage()" [disabled]="currentPage === 1">Previous</ion-button>
      <ion-button expand="block" *ngFor="let page of paginationRange()" [class.active]="page === currentPage" (click)="changePage(page)">
        {{ page }}
      </ion-button>
      <ion-button expand="block" (click)="nextPage()" [disabled]="currentPage === totalPages()">Next</ion-button>
    </div>
  </div>
</ion-content>
