<ion-app>
  <ion-split-pane contentId="main-content">

    <!-- Menu laterale -->
    <ion-menu contentId="main-content" side="start">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item lines="none" button="true" routerLink="/home" routerLinkActive="active">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>HOME</ion-label>
          </ion-item>
          <ion-item lines="none" button="true" routerLink="/about" routerLinkActive="active">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>ABOUT</ion-label>
          </ion-item>
          <ion-item lines="none" button="true" routerLink="/camera" routerLinkActive="active">
            <ion-icon slot="start" name="camera-outline"></ion-icon>
            <ion-label>GALLERIA</ion-label>
          </ion-item>
          <ion-item lines="none" button="true" routerLink="/message" routerLinkActive="active">
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-label>SMS</ion-label>
          </ion-item>
          <ion-item lines="none" button="true" routerLink="/chat" routerLinkActive="active">
            <ion-icon slot="start" name="chatbox-outline"></ion-icon>
            <ion-label>CHAT</ion-label>
          </ion-item>
          <ion-item lines="none" button="true" routerLink="/login" routerLinkActive="active">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            <ion-label>LOGIN</ion-label>
          </ion-item>
          <ion-item lines="none" button="true" routerLink="/register" routerLinkActive="active">
            <ion-icon slot="start" name="person-add-outline"></ion-icon>
            <ion-label>REGISTRAZIONE</ion-label>
          </ion-item>
          <ion-item lines="none" button="true" (click)="logout()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>LOGOUT</ion-label>
          </ion-item>
          <ion-item lines="none" button="true" routerLink="/special" routerLinkActive="active">
            <ion-icon slot="start" name="star-outline"></ion-icon>
            <ion-label>SPECIAL</ion-label>
          </ion-item>
          <ion-item lines="none" button="true" routerLink="/profilo" routerLinkActive="active">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>PROFILO</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- Contenuto principale -->
    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>
